<div id="home-container">
<h4>Your donation has been confirmed! <br>You will receive a reminder shortly before the date <br>you scheduled your pickup.</h4>
<%= image_tag("http://www.iconsdb.com/icons/preview/green/check-mark-8-xxl.png") %>
</div>
