<div id="home-container">
  <div class="cd-fixed-bg cd-bg-1">
    <div class="title"><h1>Enter your information</h1></div>
    <progress max="100" value="66.66"></progress>

    <div class="charity-img-container">
      <%= image_tag("#{ @availability.charity.logo_url }") %>
    </div>
    <div class="scheduling-container">

      <h3>Schedule Your Donation to
        <%= @availability.charity.name %> on 
        <%= @availability.date.strftime("%B %d, %Y") %></h3>

      <%= render "form", pickup: @pickup, availability: @availability %>
    </div>
  </div>
</div>
