<div id="home-container">
<div class="top-info-container form-background">
  <progress max="100" value="66.66"></progress>
  <div class="enter-info"><h4>Please enter your pickup information</h4></div>
  <div class="scheduling-container">
    <h5>Schedule your free donation for </h5>
    <%= @availability.date.strftime("%B %d, %Y") %>
    <%= render "form", pickup: @pickup, availability: @availability %>
  </div>
  <div class="if-entered-properly">
    Almost done! Please check the email address you provided for a confirmation email
  </div>
</div>
