<tr>
<td>
  <div class="pickup">
    <div class="pickup_address">
      <%= pickup.address %>, <%= town_name %> MA
    </div>
  </div>
</td>
<td>
  Items
</td>
<td>
  Location
</td>
<td>
  <%= pickup.created_at.strftime("%B %d") %>
</td>
