<h3> Showing: Confirmed Pickups for <%= @date %></h3>
Download as 
<%= link_to "CSV", 
  admin_charity_pickups_path(format: "csv", date: params[:date]) %>

<div id="map_wrapper">
  <div id="map_canvas"></div>
</div>
<div class="table-holder">
  <table class="table-borders">
    <thead>
      <tr>
        <th>Address</th>
        <th>Items</th>
        <th>Location</th>
        <th>Scheduled On</th>
      </tr>
    </thead>
    <tbody>
      <% @availabilities.each do |availability| %>
        <%= render availability.confirmed_pickups, 
          town_name: availability.town.name %>
      <% end %>
    </tbody>
  </table>
</div>
