<% if signed_in? && current_user.admin? %>
  <h3>You are an administrator for: 
    <%= link_to @charity.name, @charity %>
  </h3>
  <%= link_to "See Availabilities / Calendar", charity_availabilities_path(@charity) %>
<% end %>
