<h3>
  <%= link_to "Add a town to pick-up in",
    new_charity_town_path(@charity) %>
</h3>
<ul>
  <%= render @towns %>
</ul>

<ul>
  <h3>Availabilities</h3>
  <%= render @availabilities %>
</ul>

<h3>-----AVAILABILITY FORM-----</h3>
<%= render "availabilities/form", charity: @charity, availability: @availability %>
