<h3>
  <%= link_to "Add a town to pick-up in",
    new_charity_presence_path(@charity) %>
</h3>

<%= render @availabilities %>

<%= render @towns %>

<h3>-----AVAILABILITY FORM-----</h3>
<%= render "availabilities/form", charity: @charity, availability: @availability %>
