<h4>Currently operating in <%= @towns.count %> towns</h4>
<br>
<div id="map_wrapper">
  <div id="map_canvas"></div>
</div>

<div class="towns-container" %>
  <ul>
    <%= render @towns %>
  </ul>
</div>

<div class="presence-form-container">
  <h5>Add New Town</h5>
  <%= render "admin/presences/form", charity: @charity, presence: @presence %>
</div>
