<h3>Welcome to the Dashboard</h3><br>

<h5>Initial Setup of your Profile</h5><br>
<ul>
  <li>Use <strong>Current Towns</strong> to mark where you operate</li><br>
  <li>List of towns all set? <strong>Create New Route</strong> to let donors know where you'll be and when</li><br>
  <li><strong>Scheduled Routes</strong> allows you to keep track of all donations,<br> as well as map pickups and download CSV information for GPS</li><br>
  <li>See data compilations with <strong>Reports &amp; Stats</strong></li><br>
  <h6><li><strong>Having trouble? Contact Support to speak with a representative</stong></li></h6>
</ul>
