<h2>All Availabilities!</h2>
<% calendar.each do |date, availabilities| %>
  <h3>
    <%= link_to date.strftime("%A, %B %d, %Y"), 
      admin_charity_pickups_path(@charity, date: date) %>
  </h3>

  <% availabilities.each do |availability| %>
    <%= render "availabilities",
      availability: availability,
      town: availability.town,
      charity: @charity %>
  <% end %>
<% end %>
