<tr>
<td>
  <div class="pickup">
    <div class="pickup_address">
      <%= availability.town.name %>, MA
    </div>
  </div>
</td>
<td>
  <%= availability.pickups.count %>
</td>
<td>
  <%= availability.pickups.confirmed.count %>
</td>
<% if availability.pickups.count == 0 %>
  <td>
    <div class="delete-avail-button">
      <%= link_to image_tag("https://cdn3.iconfinder.com/data/icons/musthave/256/Remove.png"),
        admin_charity_availability_path(availability.charity, availability),
        method: :delete %>
    </div>
  </td>
<% else %>
  <td>Cannot Delete</td>
<% end %></tr>
