<h2>TOMORROW!!!</h2>
<div id="map_wrapper">
  <div id="map_canvas"></div>
</div>

<% @tomorrows_availabilities.each do |availability| %>
  <h1><%= availability.town.name %></h1>
  <%= availability.pickups.count %>
<% end %>
