<div class="create-route-container">
  <div class="green-bar"><h3>Create a New Route</h3></div>
    <div class="form">
      <%= render "admin/availabilities/form",
        charity: @charity,
        availability: @availability %>
    </div>
</div>

<div class="recently-created-routes">
  <h3>Recent Routes(made in last 10hrs)</h3>
  <ul>
    <%= render "newly_created_availabilities", 
      availabilities: @newly_made_availabilities %>
  </ul>
</div>
