@import "bourbon";

@import "base/grid-settings";
@import "neat";
@import "base/base";

@import "select2";
@import "pickup";
@import "header";
@import "footer";
@import "dashboard";
@import "choices";
@import "user_home_page";
@import "pickup_new";

body {
  background-color: #DFDBD9; // #11052B;
  $base-background-color: #E8E8E8;
  font-family: 'PT Sans', sans-serif;
}

#container {
  @include outer-container;
}
