@import "bourbon";

@import "base/grid-settings",
        "neat",
        "base/base";

@import "select2",
        "pickup",
        "header",
        "footer",
        "dashboard",
        "user_home_page",
        "pickup_new",
        "create_new_route",
        "tomorrow_upcoming_availabilities",
        "log_in",
        "availability_table",
        "display_towns";

body {
  background-color: #DFDBD9; // #11052B;
  $base-background-color: #E8E8E8;
  font-family: 'PT Sans', sans-serif;
}
