.create-route-container {
  @include span-columns(8);
  @include shift(2);
  margin-top: 2em;
  border: 2px solid #04435E;
  border-radius: 5px;
  background-color: #DFDBD9;
  box-shadow: 2px 2px 10px #888888;

  .green-bar {
    height: 2.5em;
    text-align: center;
    border-right: 1px solid black;
    border-left: 1px solid black;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    background-color: green;
    color: black;
  } 

  .form {
    border: 1px solid black;

    padding: 15px;
  }
}

