#dash-container {
  height: 40em;

  #dash-side-navigation-container {
    @include span-columns(3, "block-collapse");
    box-shadow: 0px 0px 20px #888888;

    height: 100%;

      *, :before, :after{ box-sizing: border-box; }
      $sans: 'Source Sans Pro', Helvetica, Arial, sans-serif;

      $orange: orange;
      $gray: #35302D;
      $gray-shine: #3C3735;
      $white-off: #DFDBD9;

      .unstyled{ list-style: none; padding: 0; margin: 0;
        a{ text-decoration: none; }
      }
      .list-inline{ overflow: hidden;
        li{ float: left; }
      }

      .side-bar-nav{
        height: 100%;
        width: 100%;
        background: $gray;
      }

      .logo{
        text-transform: lowercase;
        font: 300 2em $sans;
        text-align: center;
        padding: 0; margin: 0;

        a{
          display: block;
          padding: 1em 0;
          color: $white-off;
          text-decoration: none;
          transition: .15s linear color;

          &:hover{
            color: #fff;
            span{ color: $orange; }
          }
        }

        span{
          font-weight: 700;
          transition: .15s linear color;
        }
      }

      .side-nav{

        ul{
          border-top: solid 1px $gray-shine;
          }

            li{
              border-bottom: solid 1px $gray-shine;
            }

            a{
              padding: 1.1em 0;
              color: $white-off;
              font: 400 1.125em $sans;
              text:{
                align: center;
              }

              &:hover{
                color: #fff;
              }
            }
          }

    .list-hover-slide{

      li{
        position: relative;
        overflow: hidden;
      }

      a{
        display: block;
        position: relative;
        z-index: 1;
        transition: .35s ease color;

        &:before{
          content: '';
          display: block;
          z-index: -1;
          position: absolute;
          left: -100%; top: 0;
          width: 100%; height: 100%;
          border-right: solid 5px $orange;
          background: $gray-shine;
          transition: .35s ease left;
        }

        &.is-current,
        &:hover{

          &:before{
            left: 0;
          }
        }
      }
    }
  }

  #main-container {
    @include span-columns(9);
    background: white;
    box-shadow: 2px 2px 10px #888888;
    height: 100%;
    margin-right: 0;

    .choice-container {
      border: 1px solid red;
    }

    ul li.choice-button {
      @include span-columns(2);
      height: 10%;
      border: 1px solid black;
      float: left;
    }
  }
}
