#dash-container {
  background: #00435E;
  height: auto;
  min-height: 32em;

  #dash-side-navigation-container {
    @include span-columns(3, "block-collapse");
    height: 100%;

    *, :before, :after  { 
      box-sizing: border-box; 
    }
  
   $sans: 'Source Sans Pro', Helvetica, Arial, sans-serif;
   $orange: orange;
   $gray: #04435E;
   $gray-shine: #3C3735;
   $white-off: #DFDBD9;

   .unstyled {
     list-style: none;
     padding: 0;
     margin: 0;

     a {
       text-decoration: none; 
     }
   }

   .list-inline {
     overflow: hidden;

     li  {
       float: left;
     }
   }

   .side-bar-nav {
     background: $gray;
     height: 100%;
     width: 100%;
   }

   .logo {
     border-bottom: 4px solid lighten($gray, 10);
     font: 300 2em $sans;
     padding: 0; margin: 0;
     text-align: center;
     text-transform: lowercase;

     a {
       color: $white-off;
       display: block;
       padding: .5em 0;
       text-decoration: none;
       transition: .15s linear color;

       &:hover {
         color: #fff;
         span { color: $orange; }
       }
     }

     span {
       font-weight: 700;
       transition: .15s linear color;
     }
   }

   .side-nav {
     ul {
       border-top: solid 1px $gray-shine;
     }

     li {
       border-bottom: solid 1px $gray-shine;
     }

     a {
       color: $white-off;
       font: 400 1.125em $sans;
       padding: 1.1em 0;

       text: {
         align: center;
       }

       &:hover {
         color: #fff;
       }
     }
   }

   .list-hover-slide {
     li {
       position: relative;
       overflow: hidden;
     }

     a {
       display: block;
       position: relative;
       transition: .35s ease color;
       z-index: 1;

       &:before {
         background: lighten($gray, 10);
         border-right: solid 5px $orange;
         content: '';
         display: block;
         left: -100%; top: 0;
         position: absolute;
         transition: .35s ease left;
         width: 100%; height: 100%;
         z-index: -1;
       }

       &.is-current,
         &:hover {
           &:before {
             left: 0;
          }
        }
      }
    }
  }

  #main-container {
    @include span-columns(9);

    background: white;
    border: 1px solid gray;
    height: auto;
    margin-right: 0;
    min-height: 30em;
    padding-top: 1.2em;
    padding-bottom: 2em;
    text-align: center;
  }
}

.counter {
  display: none;
}

.delete-avail-button  {
  img {
    height: 20px;
    width: 20px;
  }
}
