header.navigation {
  $navigation-padding: 1em;
  $navigation-background: #04435E;
  $navigation-color: transparentize(white, 0.3);
  $navigation-color-hover: white;
  $navigation-height: 60px;
  $navigation-nav-button-background: $base-accent-color;
  $navigation-nav-button-background-hover: lighten($navigation-background, 10);
  $navigation-nav-button-border: 1px solid lighten($navigation-nav-button-background, 20);
  $navigation-search-background: lighten($navigation-background, 5);
  $navigation-search-border: 1px solid darken($navigation-background, 5);
  $navigation-active-link-color: transparentize(white, 0.5);
  $navigation-submenu-padding: 1em;
  $navigation-submenu-width: 12em;
  $horizontal-bar-mode: $large-screen;

  background-color: $navigation-background;
  border-bottom: 4px solid lighten($navigation-background, 10);
  height: $navigation-height;
  width: 100%;
  z-index: 999;

  .navigation-wrapper {
    @include clearfix;
    @include outer-container;
    position: relative;
    z-index: 9999;
  }

  .logo {
    float: left;
    max-height: $navigation-height;
    padding-left: $navigation-padding;
    padding-right: 2em;

    img {
      max-height: $navigation-height;
      padding: .8em 0;
    }
  }

  // Mobile view

  .navigation-menu-button {
    color: $navigation-color;
    display: block;
    float: right;
    font-family: $sans-serif;
    font-weight: 700;
    line-height: $navigation-height;
    margin: 0;
    padding-right: 1em;
    text-transform: uppercase;

    @include media ($horizontal-bar-mode) {
      display: none;
    }

    &:hover {
      color: $navigation-color-hover;
    }
  }

  // Nav menu

  .nav {
    z-index: 9999999;
    float: none;
    @include media ($horizontal-bar-mode) {
      float: left;
    }
  }

  ul#navigation-menu {
    -webkit-transform-style: preserve-3d; // stop webkit flicker
    clear: both;
    display: none;
    margin: 0 auto;
    overflow: visible;
    padding: 0;
    width: 100%;
    z-index: 9999;

    @include media ($horizontal-bar-mode) {
      display: inline;
      margin: 0;
      padding: 0;
    }
  }

  // The nav items

  ul li.nav-link {
    background: $navigation-background;
    display: block;
    line-height: $navigation-height;
    overflow: hidden;
    padding-right: .8em;
    color: yellow;
    font-weight: 900;
    text-align: right;
    width: 100%;
    z-index: 9999;

    @include media ($horizontal-bar-mode) {
      background: transparent;
      display: inline;
      line-height: $navigation-height;
      text-decoration: none;
      width: auto;
    }

    a {
      color: $navigation-color;
      display: inline-block;
      font-weight: 900;

      @include media ($horizontal-bar-mode) {
        padding-right: 1em;
      }

      &:hover {
        color: $navigation-color-hover;
      }
    }
  }

  .active-nav-item a {
    border-bottom: 1px solid $navigation-active-link-color;
    padding-bottom: 3px;
  }

  // Sub menus

  // Elements on the far right

  .navigation-tools {

    h1 {
      float: right;
    }
    @include clearfix;
    background: #505050;
    clear: both;
    display: block;
    padding-left: $navigation-padding/2;
    padding-right: $navigation-padding;

    @include media($large-screen) {
      background: transparent;
      clear: none;
      float: right;
    }
  }

  .sign-up {
    @extend button;
    display: inline;
    float: right;
    font-size: .8em;
    margin-right: 1em;
    margin-top: 1.2em;
    padding: .75em 1em;
    text-transform: uppercase;
  }

  .sign-in {
    @extend button;
    background-color: green;
    display: inline;
    float: right;
    font-size: .8em;
    margin-top: 1.2em;
    padding: .75em 1em;
    text-transform: uppercase;
  }

  .sign-out {
    @extend button;
    background-color: red;
    display: inline;
    float: right;
    font-size: .8em;
    margin-right: 1em;
    margin-top: 1.2em;
    padding: .75em 1em;
    text-transform: uppercase;
  }
}
