#main-container {
  height: 25em;
}

#home-container {
  background-color: #04435E;
  height: 25em;
  text-align: center;

  .front-title {
    @include span-columns(6);
    @include shift(3);
    padding-top: 25%;
    color: white;
  }

  .filtering-form {
    @include span-columns(6);
    @include shift(3);
    margin-top: 1em;
    border-radius: 10px;

    .select2-container {
      @include span-columns(10.2, "block-collapse");
      height: 50px;
      float: left;

      .select2-choice {
        font-size: 180%;
        padding-top: 7px;
        height: 40px;
      }
    }
  }
}

.charity-bar-container {
    height: 5em;
    background-color: black;
    border: 2px solid black;
  }

.availability {
  @include span-columns(3);
  border: 2px solid red;
}
