<h2>Calendar</h2>
<% calendar.each do |date, availabilities| %>
  <h3>
    <%= link_to date.strftime("%A, %B %d, %Y"), 
      charity_pickups_path(@charity, date: date) %>
  </h3>

  <% availabilities.each do |availability| %>
    <%= render "admin_availability_index",
      availability: availability,
      town: availability.town,
      charity: charity %>
  <% end %>
<% end %>
