<li>
<div class="availability">
<%= availability.town.name %>
<%= availability.charity.name %>
<%= availability.date.strftime("%a, %B %d, %Y") %>
<%= button_to "Schedule a Donation", 
  new_availability_pickup_path(availability), method: :get %>
  </div>
</li>
