<div id="home-container">
  <div class="top-info-container main-image">
    <h3>Your used goods can change lives.</h3>

    <% if availabilities %>
      <% if availabilities.empty? %>
        <div class="sorry-container"><h5>We're sorry. No organization is scheduled to visit your town within the next two months. Many of our charities operate only in the Greater Boston Area.</h5></div>
      <% else %>
        <progress max="100" value="33.333"></progress>
        <div class="results-container">
          <ul>
            <%= render availabilities %>
          </ul>
        </div>
      <% end %>
    <% end %>

    <div class="town-search-form-container">
      <%= form_for :filter, html: { class: "filtering-form" }, 
        url: availabilities_path,
        :method => 'get' do |form| %>
        <%= form.collection_select :town_id,
          Town.order(:name), :id, :name, { prompt: "Enter Your Town" } %>
        <%= form.submit "GO", class: "enter-button" %>
      <% end %>
    </div>
  </div>
  <div class="text-info-container">
    <br>
    <h5>Your donations have value. There are over 20 charities in the Greater Boston area that are supported through in-kind donations of clothing, household items, electronics, toys and more! Make a difference today - schedule your donation and a charity of your choice will pick them up at no charge. <br><br>Simply enter your town above and see who's coming to you!</h5>
  </div>
  <div class="middle-info-container middle-image"></div>

  <div class="text-info-container">
    <br>
    <h5>What can I give? Our charities accept donations like:</h5>
    <ul>
      <li>Clothing &amp; Outerware</li>
      <li>Household Goods &amp; Kitchenware</li>
      <li>Instruments &amp; Toys</li>
      <li>Shoes &amp; Boots</li>
      <li>Purses, Handbags &amp; Accessories</li>
      <li>+ much more!</li>
    </ul>
  </div>
</div>
