<div id="main-container">
<div class="left-container"></div>
<div class="right-container"></div>
</div>
<div class="selection_form">
  <h3>Schedule your free donation pickup</h3>

  <%= form_for :filter, url: availabilities_path, 
    :method => 'get' do |form| %>
    <%= form.collection_select :town_id, 
      Town.order(:name), :id, :name, { prompt: "Enter Your Town" } %>
    <%= form.submit "Find a Charity Coming to You" %>
  <% end %>
</div>

<% if params[:filter] %>
  <%= render availabilities %>
<% end %>
