<div id="home-container">
  <div class="front-title">
    <h3>Give to a charity coming to you</h3>
    <h6>Easy, free and confidential donation pickups</h6>
  </div>

  <%= form_for :filter, html: { class: "filtering-form" }, 
    url: availabilities_path,
    :method => 'get' do |form| %>
    <%= form.collection_select :town_id,
      Town.order(:name), :id, :name, { prompt: "Find Your Town" } %>
    <%= form.submit "GO" %>
  <% end %>
</div>

  <div class="charity-bar-container"></div>

  <% if params[:filter] %>
    <% if availabilities.empty? %>
      <h3>We're sorry. No organization is schedule to visit your town within the next two months. Many of our charities operate in the Greater Boston Area.</h3>
    <% else %>
      <ul>
        <%= render availabilities %>
      </ul>
    <% end %>
  <% end %>
