<h3>You are a user</h3>

<h3>Find a charity coming to your town (use SELECT2)</h3>
<%= form_for availabilities_path, :method => 'get' do |form| %>
  <%= form.collection_select :town_id, Town.all, :id, :name, {prompt: "Your Town" } %>
  <%= form.submit "Enter Town to find a charity" %>
<% end %>

<%= render @availabilities %>
