<h1><%= @town_name %></h1><br />

<div id="map_wrapper">
  <div id="map_canvas"></div>
</div>

<p>Confirmed: <%= @availability.confirmed_pickups.count %></p>
<ul>
  <div class="pickups">
    <%= render @availability.confirmed_pickups.count, town_name: @town_name %>
  </div>
</ul>
<p>Unconfirmed: <%= @availability.unconfirmed_pickups.count %></p>
